@using BlazorApp12.Data;
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt @ref="surveyPrompt" Title="How is Blazor working for you?"  weatherForecast=@weatherForecast />
  <button class="btn btn-primary" @onclick="Clickhere">Click here</button>
  @if (@message!=string.Empty)
  {
     <b>@message</b> 
  }

@code
{
    WeatherForecast weatherForecast = new WeatherForecast();
    SurveyPrompt surveyPrompt;
    public string message;
    protected override async Task OnInitializedAsync()
    {
        weatherForecast.Summary = "hello Summary";
    }

    public void Clickhere()
    {
        message = surveyPrompt.DisplayName();
    }
}