@using BlazorApp12.Data;
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"  weatherForecast=@weatherForecast />

@code
{
    WeatherForecast weatherForecast = new WeatherForecast();

    protected override async Task OnInitializedAsync()
    {
        weatherForecast.Summary = "hello Summary";
    }

}