@using  BlazorApp12.Data;
<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold link-dark" href="https://go.microsoft.com/fwlink/?linkid=2149017">brief survey</a>
    </span>
    and tell us what you think.

   <b> @weatherForecast.Summary</b>

 @*  <button class="btn btn-primary" @onclick="Clickhere">Click here</button>*@

</div>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public List<string> Name { get; set; }

    [Parameter]
    public WeatherForecast weatherForecast { get; set; }

    public string DisplayName()
    {
        return "Chandradev";
    }

}
